<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <table class="billingID">
        <tr>
            <th>Fatura</th>                     <th>Data</th>
        </tr>
        <tr>
            <td><%= billingID.naturalKey %></td><td><%= billingID.documentDate.replace("T", " ") %></td>
        </tr>
        <tr>
            <th></th><th>Entidade</th>
        </tr>
        <tr>
            <td></td><td><%= billingID.accountingPartyName %></td>
        </tr>
    </table>
</body>
<%- include('../includes/footer.ejs') %>
