<%- include('../includes/head.ejs') %>
<body>
    <center>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="logScreen">
            <form action="/login" method="post">
                <label for="username">Username</label>
                <br />
                <input
                    class="<%= validationErrors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                    type="text"
                    name="username"
                    id="username"
                    value="<%= oldInput.username %>">
                
                <br />
                <label for="password">Password</label>
                <br />
                <input
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password"
                    name="password"
                    id="password"
                    value="<%= oldInput.password %>">
                
                <br />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Login</button>
            </form>
        </div>
    </center>
</body>
<%- include('../includes/footer.ejs') %>
