<%- include('../../includes/head.ejs') %>
<body>
    <%- include('../../includes/navigation.ejs') %>
    <table class="table myTable">
        <tr>
            <th scope="col">Encomenda</th>
            <th scope="col">Entidade</th>
            <th scope="col">NIF</th>
            <th scope="col">Nome</th>
            <th scope="col">Data</th>
            <th scope="col">Total</th>
        </tr>
        <% for(let encomenda of encomendas) { %>
        <tr>
            <td scope="row"><%= encomenda.Name %></td>
            <td><%= encomenda.Entidade %></td>
            <td><%= encomenda.NIF %></td>
            <td><%= encomenda.Nome %></td>
            <td><%= encomenda.Data.replace("T", " ") %></td>
            <td><%= encomenda.Total %></td>
        </tr>
        <%}%>
    </table>
</body>
<%- include('../../includes/footer.ejs') %>
