<%- include('../../includes/head.ejs') %>
<body>
    <%- include('../../includes/navigation.ejs') %>
    <table class="table myTable">
        <tr>
            <th scope="col">Encomenda</th>
            <th scope="col">Entidade</th scope="col">
            <th scope="col">NIF</th>
            <th scope="col">Nome</th>
            <th scope="col">Data</th>
            <th scope="col">Total</th>
        </tr>
        <% for(let order of orders) { %>
        <tr>
            <td  scope="row"><%= order.naturalKey %></td>
            <td><%= order.accountingParty %></td>
            <td><%= order.buyerCustomerPartyTaxId %></td>
            <td><%= order.buyerCustomerPartyName %></td>
            <td><%= order.documentDate.replace("T", " ") %></td>
            <td><%= order.payableAmount.amount %><%=order.grossValue.symbol%></td>
        </tr>
        <%}%>
    </table>
</body>
<%- include('../../includes/footer.ejs') %>
