<%- include('../../includes/head.ejs') %>
<body>
    <%- include('../../includes/navigation.ejs') %>
    <table class="billingID">
        <tr>
            <th>Fatura</th>
            <th>Data</th>
        </tr>
        <tr>
            <td><%= orderID.naturalKey %></td>
            <td><%= orderID.documentDate.replace("T", " ") %></td>
        </tr>
        <tr>
            <th></th>
            <th>Entidade</th>
        </tr>
        <tr>
            <td></td>
            <td><%= orderID.accountingParty %></td>
        </tr>
        <tr>
            <th></th>
            <th>NIF</th>
        </tr>
        <tr>
            <td></td>
            <td><%= orderID.buyerCustomerPartyTaxId %></td>
        </tr>
        <tr>
            <td><br /><br /><br /><br /><br /><br /></td>
            <td></td>
        </tr>
        <tr>
            <th>Descrição</th>
        </tr>

        <% for(document of orderID.documentLines){ %>
        <tr>
            <td><%= document.salesItemDescription %></td>
        </tr>
        <% } %>

        <tr>
            <th colspan="2">Preço</th>
        </tr>
        <tr>
            <td colspan="2">
                <%= orderID.payableAmount.amount %><%=orderID.payableAmount.symbol%>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form action="/crm/insert-encomenda" method="post">
                    <input type="hidden" name="order" value="<%= orderID.naturalKey %> " />
                    <input
                        type="hidden"
                        name="nome"
                        value="<%= orderID.buyerCustomerPartyName %> "
                    />
                    <input type="hidden" name="data" value="<%= orderID.documentDate %> " />
                    <input
                        type="hidden"
                        name="entidade"
                        value="<%= orderID.accountingPartyName %> "
                    />
                    <input
                        type="hidden"
                        name="nif"
                        value="<%= orderID.buyerCustomerPartyTaxId %> "
                    />
                    <input
                        type="hidden"
                        name="total"
                        value="<%= orderID.payableAmount.amount %> "
                    />
                    <button type="submit">Enviar</button>
                </form>
            </td>
        </tr>
    </table>
</body>
<%- include('../../includes/footer.ejs') %>
