<%- include('../../includes/head.ejs') %>
<body>
    <%- include('../../includes/navigation.ejs') %>
    <table class="billingID">
        <tr>
            <th>Fatura</th>
            <th>Data</th>
        </tr>
        <tr>
            <td><%= billingID.naturalKey %></td>
            <td><%= billingID.documentDate.replace("T", " ") %></td>
        </tr>
        <tr>
            <th></th>
            <th>Entidade</th>
        </tr>
        <tr>
            <td></td>
            <td><%= billingID.accountingPartyName %></td>
        </tr>
        <tr>
            <th></th>
            <th>Armazem</th>
        </tr>
        <tr>
            <td></td>
            <td><%= billingID.documentLines[0].warehouseDescription %></td>
        </tr>
        <tr>
            <td><br /><br /><br /><br /><br /><br /></td>
            <td></td>
        </tr>
        <tr>
            <th>Descrição</th>
        </tr>
        <% for(bill of billingID.documentLines){ %>
        <tr>
            <td><%= bill.complementaryDescription %></td>
        </tr>
        <% } %>

        <tr>
            <th colspan="2">Preço</th>
        </tr>
        <tr>
            <td colspan="2">
                <%= billingID.payableAmount.amount %><%=billingID.payableAmount.symbol%>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <form action="/crm/insert-fatura" method="post">
                    <input type="hidden" name="fatura" value="<%= billingID.naturalKey %> " />
                    <input type="hidden" name="data" value="<%= billingID.documentDate %> " />
                    <input
                        type="hidden"
                        name="entidade"
                        value="<%= billingID.accountingPartyName %> "
                    />
                    <input
                        type="hidden"
                        name="nif"
                        value="<%= billingID.buyerCustomerPartyTaxId %> "
                    />
                    <input
                        type="hidden"
                        name="total"
                        value="<%= billingID.payableAmount.amount %> "
                    />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Enviar</button>
                </form>
            </td>
        </tr>
    </table>
</body>
<%- include('../../includes/footer.ejs') %>
