<%- include('../../includes/head.ejs') %>
<body>
    <%- include('../../includes/navigation.ejs') %>
    <table class="billingID">
        <tr>
            <th>Fatura</th>
            
            <th colspan="2">Data</th>
        </tr>
        <tr>
            <td><%= billingID.naturalKey %></td>
            <td colspan="2"><%= billingID.documentDate.replace("T", " ") %></td>
        </tr>
        <tr>
            <th colspan="3">Entidade</th>
        </tr>
        <tr>
            <td colspan="3"><%= billingID.accountingPartyName %></td>
        </tr>
        <tr>
            <th colspan="3">Armazem</th>
        </tr>
        <tr>
            <td colspan="3"><%= billingID.documentLines[0].warehouseDescription %></td>
        </tr>
        <tr>
            <td><br /><br /><br /><br /><br /><br /></td>
            <td></td>
        </tr>
        <tr>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço unitario</th>
        </tr>
        <% for(bill of billingID.documentLines){ %>
        <tr>
            <td><%= bill.description %></td>
            <td>x<%= bill.quantity %></td>
            <td><%= bill.grossValue.amount %><%= bill.grossValue.symbol %></td>
        </tr>
        <% } %>

        <tr>
            <th colspan="3">Preço</th>
        </tr>
        <tr>
            <td colspan="3">
                <%= billingID.payableAmount.amount %><%=billingID.payableAmount.symbol%>
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <form action="/crm/insert-fatura" method="post">
                    <input type="hidden" name="fatura" value="<%= billingID.naturalKey %> " />
                    <input type="hidden" name="data" value="<%= billingID.documentDate %> " />
                    <input
                        type="hidden"
                        name="entidade"
                        value="<%= billingID.accountingPartyName %> "
                    />
                    <input
                        type="hidden"
                        name="nif"
                        value="<%= billingID.buyerCustomerPartyTaxId %> "
                    />
                    <input
                        type="hidden"
                        name="total"
                        value="<%= billingID.payableAmount.amount %> "
                    />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit">Enviar CRM</button>
                    <button type="button" onclick="window.location.href = '/erp/fatura-pdf/<%= billingID.id%>'">Gerar Fatura</button>
                </form>
            </td>
        </tr>
    </table>
</body>
<%- include('../../includes/footer.ejs') %>
