<%- include('../../includes/head.ejs') %>
<body>
    <%- include('../../includes/navigation.ejs') %>
    <table class="table myTable">
        <tr>
            <th scope="col">Fatura</th>
            <th scope="col">Entidade</th scope="col">
            <th scope="col">NIF</th scope="col">
            <th scope="col">Data</th>
            <th scope="col">Total</th scope="col">
        </tr>
        <% for(let bill of billing) { %>
        <tr id="<%= bill.id %>" onclick="redirect('<%= bill.id %>')">
            <td scope="row"><%= bill.naturalKey %></td scope="col">
            <td><%= bill.accountingPartyName %></td>
            <td><%= bill.buyerCustomerPartyTaxId %></td>
            <td><%= bill.documentDate.replace("T", " ") %></td>
            <td><%= bill.payableAmount.amount %><%=bill.payableAmount.symbol%></td>
        </tr>
        <%}%>
    </table>
    <script>

        function redirect(url){
            window.location.href = "/erp/faturas/"+url;
        }
    </script>
</body>
<%- include('../../includes/footer.ejs') %>
